/* Navbar layout */
body{
    margin: 0;
    background-color: #D9D9D9;
     
}

header{
    width: 100%;
    margin: 0;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px 10px 20px;
    color: white;
    max-width: 100%;
    
}

.hamburger {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 3em;
    font-size: 1.5rem;
    cursor: pointer;
    color: gray;
}

/* Center title */
.title { 
    font-size: 1.5rem; 
    font-weight: bold; 
    color:#000 
}


/* Account dropdown */
.account-dropdown {
    position: flex;
    cursor: pointer;
    color:#000
    
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 0;
    margin-right: 150px;
    top: 100%;
    background-color: white;
    color: #000;
    list-style: none;
    padding: 10px 0;
    margin: 0 20px 0 0; 
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.dropdown-menu li a {
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    color: #000;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
}

/* Sidebar (hidden by default) */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* hide offscreen */
    width: 250px;
    height: 100%;
    background-color: #A81E1E;
   
    transition: left 0.3s ease;
}
.header-content {
    display: flex;
    align-items: center;   /* vertically center the logo and title */
    padding: 15px 20px;    /* space inside sidebar */
}

.sidebar-logo {
    width: 40px;            /* adjust size */
    height: 40px;           /* keep aspect ratio */
    margin-right: 10px;     /* space between logo and title */
}

.sidebar-title {
    font-size: 1rem;
    font-weight: bold;
    color: black;
}



.sidebar ul {
    list-style: none;
    padding: 0;
    color: #D0112B;
}

.sidebar ul li a {
    display: block;
    color: BLACK;
    padding: 15px 20px;
    text-decoration: none;
}

.sidebar ul li a:hover {
     background-color: #D0112B;
    
}

/* Active sidebar */
.sidebar.active {
    left: 0;
}

.navbar {
    transition: all 0.3s ease;
}
.sidebar {
    transition: all 0.3s ease;
}

