.requests-table {
    border-collapse: collapse;   /* merge borders */
    width: 100%;
    border-radius: 15px;
}

.requests-table th{             
    padding-top: 20px;
    padding-bottom: 25px;
    text-align: center;
    border-left: none;   /* remove left vertical border */
    border-right: none;  /* remove right vertical border */
    border-bottom: 1px solid #ddd; /* keep horizontal line */
    font-weight: bold;
    font-size: 16px;
}
.requests-table td{
    text-align: center;
    border-left: none;   /* remove left vertical border */
    border-right: none;  /* remove right vertical border */
    border-bottom: 1px solid #ddd; /* keep horizontal line */
    padding-top: 10px;
    padding-bottom: 10px;
}

.requests-table th:nth-child(1) {
    min-width: 150px;  /* adjust as needed */
}

.requests-table thead tr {
    border-bottom: 2px solid #8B1717; 
}


/* Optional row hover effect */
.requests-table tbody tr:hover {
    background-color: #f5f5f5;
}

.dropdown-header {
    position: relative;
    cursor: pointer;
}

.dropdown-icon {
    margin-left: 5px;
    font-size: 12px;
}

.dropdown-header .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 150px;
    z-index: 100;
}

.dropdown-header .dropdown-menu li {
    padding: 8px 10px;
}

.dropdown-header .dropdown-menu li:hover {
    background-color: #eee;
}

.dropdown-header.active .dropdown-menu {
    display: block;
}

.edit-btn, .delete-btn {
    padding: 5px 10px;
    margin-right: 5px;
}

.badge {
  display: inline-block;
  padding: 0.50em 0.7em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #fff;
}

.badge.bg-edit {
  background-color: #0d6efd;
}

.badge.bg-delete {
  background-color: #dc3545;
  color: #212529;
}

.table-header-actions {
    display: flex;
    justify-content: flex-end; /* aligns button to the right */
    margin-bottom: 10px;       /* space between button and table */
}

.add-btn {
    background-color: #0d6efd; /* blue for primary action */
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
}

.add-btn:hover {
    background-color: #0b5ed7;
}