body{
height: 100vh;
background: linear-gradient(to bottom, white 12%, #D9D9D9 12%);
}
header{
    display: flex;
    align-items: center;
     justify-content: space-between; /* push h2 to left, header-right to right */
    margin-top: 10px;  
   }

header h2 {
    color: black;
    margin-left: 300px;
    font-size: 32px;
    gap: 300px
}

.header-right {
    display: flex;
    align-items: center;  /* vertically center search + button */
    gap: 25px       /* space between search and button */
}

.search-container {
    position: relative; /* needed for absolute positioning of the icon */
    display: inline-block;
}

.search-field {
    padding: 8px 40px 8px 35px; /* add right padding for icon space */
    font-size: 16px;
    border-radius: 25px;
    border:none;
    background-color: #D9D9D9;
    outline:none;
}

.search-icon {
    position: absolute;
    left: 10px;          /* inside input */
    top: 50%;
    transform: translateY(-50%);
    color: #333;
    font-size: 16px;
}

.notification-icon {
    position: absolute;
    right: 10px;  /* inside the input, adjust distance from right */
    top: 50%;
    transform: translateY(-50%); /* vertically center */
    cursor: pointer;
    color: #333;
    font-size: 18px;
    padding-left: 10px;       /* space for the line */
    border-left: 1px solid black;
}

main{
    margin-top: 7px;
    margin-left: 300px;
}

.add-user-btn{
    margin-top: 45px;
}
